<div>
<footer id="ft">
    <div class="container__footer">
        <div class="box__footer">
            <div class="logo2">
                <img src="../IMAGES/logo.png" alt="">
            </div>
        </div>
        <div class="box__footer">
            <h2>Contacts</h2>
            <a href="https://www.google.com">Ddose0725@gmail.com</a>
            <a href="#">Hotline | 1234</a>
            <a href="#">Phone:- +201057324491</a>
            <a href="#">Branches</a>
        </div>
        <div class="box__footer">
            <h2>Orders</h2>
            <a href="#">Shipping & Delivery</a>
            <a href="#">Return & Exchange</a>
            <a href="#">Payment</a>
            <a href="#">Previous Orders</a>
        </div>
        <div class="box__footer">
            <h2>Find Us</h2>
            <a href="#"> <i class="fab fa-facebook-square"></i> Facebook</a>
            <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
            <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
            <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
        </div>
    </div>
    <div class="box__copyright">
       <hr>
        <p> © 2023 <b>Dose Pharmcy</b></p>
    </div>
    </div>
</footer>
