<!doctype html>
<html lang="en">

<head>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> -->
    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dose Pharmcy</title>
    <!-- add icon link -->
    <link rel="icon" href="../IMAGES/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/webpr.css">
    <link rel="stylesheet" href="../css/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Start of Async Drift Code -->
<script>
    "use strict";
    
    !function() {
      var t = window.driftt = window.drift = window.driftt || [];
      if (!t.init) {
        if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
        t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
        t.factory = function(e) {
          return function() {
            var n = Array.prototype.slice.call(arguments);
            return n.unshift(e), t.push(n), t;
          };
        }, t.methods.forEach(function(e) {
          t[e] = t.factory(e);
        }), t.load = function(t) {
          var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
          o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
          var i = document.getElementsByTagName("script")[0];
          i.parentNode.insertBefore(o, i);
        };
      }
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('uyaxr3r7f9sr');
    </script>
    <!-- End of Async Drift Code -->
    <style>
        #navbar {
            background-color: #00b18f;
            padding: 10px;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            margin-bottom: 50px;
            margin-right: 10px;
        }

        .logo a {
            text-decoration: none;
        }

        .logo img {
            position: fixed;
            height: 80px;
            width: 100px;
            margin: -10px 0px 0px 40px;
        }

        .navigation-links,
        .right-links {
            list-style: none;
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        .navigation-links li,
        .right-links li {
            margin-right: 10px;
        }

        .navigation-links li a,
        .right-links li a {
            text-decoration: none;

            padding: 10px;
            transition: color 0.3s ease;
        }

        .navigation-links li a:hover,
        .right-links li a:hover {
            color: #17242a;
        }

        .mega-box-content {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: #f9f9f9;
            padding: 10px;
            display: none;
            z-index: 5;
        }

        .lnks:hover .mega-box-content {
            display: block;
            z-index: 10;
        }

        .mega-box-content ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .mega-box-content ul li {
            margin-bottom: 5px;
        }

        .mega-box-content ul li a {
            text-decoration: none;
            color: #333333;
        }

        .split a {
            display: flex;
            align-items: center;
        }

        .split i {
            margin-right: 5px;
        }

        .lan-main a {
            text-align: center;
            background-color: #33bfa4;
            width: 80px;
            height: 40px;
            border-radius: 25px;
            border: none;
            color: #fff;
            font-size: 12px;
            margin-right: 10px;
            cursor: pointer;
            line-height: 40px;
            margin-top: -15px;

        }
    </style>

  
</head>

    <header id="navbar">
        <nav>
            <div class="logo">
                <a href="./index"><img src="../IMAGES/logo.png"></a>
            </div>
            <ul class="navigation-links">
                <li class="lnks">
                    <div class="dropdown">
                        <button class="dropbtn">Shop</button>
                        <div class="dropdown-content">
                            <a href="./medications">Medications</a>
                            <a href="./vit">Vitamins</a>
                            <a href="./personalcare">Personal Care</a>
                            <a href="./makeup">Beauty Products</a>
                            <a href="./skincare">Skin Care</a>
                            <a href="./cleaning">Cleaning Products</a>
                            <a href="./motherbaby">Mother Baby Care</a>
                            <a href="./hair">Hair Care</a>
                            <a href="./perfume">Perfumes</a>
                        </div>
                </li>
                <li><a href="#">Order a Prescription</a></li>
                <li><a href="./blog">Blog</a></li>
                <li><a href="./about">About Us</a></li>
               
                  <li><a href="#">  <input type="text" placeholder="Search Products" id="searchInput"></a></li>
                  <!-- <div id="searchResults"></div>
                  <script>
                    $(document).ready(function() {
                      $('#searchInput').on('input', function() {
                        var query = $(this).val();
                        if (query.length > 0) {
                          fetchSearchResults(query);
                        } else {
                          $('#searchResults').empty();
                        }
                      });
                  
                      function fetchSearchResults(query) {
                        $.ajax({
                          url: '/search',
                          type: 'GET',
                          data: { query: query },
                          success: function(results) {
                            displaySearchResults(results);
                          },
                          error: function(error) {
                            console.log('Error:', error);
                          }
                        });
                      }
                  
                      function displaySearchResults(results) {
                        var searchResultsDiv = $('#searchResults');
                        searchResultsDiv.empty();
                        
                        results.forEach(function(product) {
                          searchResultsDiv.append('<p>' + product.name + '</p>');
                        });
                      }
                    });
                  </script> -->
                <!-- <section id="searchResults">

                </section>
                <script>
                    function sendData(e){
                        fetch('/getFruits',{
                            method:'POST',
                            headers: {'Content-Type': 'application/json'},
                            body: JSON.stringify({payload: e.value})
                        })
                    }
                </script> -->
            </ul>
            <ul class="right-links">
                <li class="lan-main">
                    <div id="google_translate_element"></div>
                    <script type="text/javascript">
                        function googleTranslateElementInit() {
                            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
                        }
                    </script>
                </li>
                <!-- Check if the user variable exists -->
                <% if ( user==='' ) { %>
                    <li class="split"><a href="/user/login"><i class="fa fa-fw fa-user"></i>Login/Signup</a></li>
                    <% } else { %>
                        <% if ( user.type==='admin' ) { %>
                            <li class="split"><a href="./admin"><i class="fa fa-fw fa-user"></i>Admin</a></li>
                            <% } %>
                              
                                <li class="split"><a href="./cart"><i class="fa fa-fw fa-cart-plus"></i>Your Cart</a>
                                </li>
                                <li class="split"><a href="/user/logout"><i class="fa fa-fw fa-user"></i>Logout</a>
                                </li>
                                <li class="split"><a href="#">Welcome <%= user.name %></a></li>
                                <% } %>
            </ul>
            </ul>
            <!-- <script src="/js/ajax-search.js"></script> -->
        </nav>
    </header>