<%- include ("./partials/header.ejs") %>
<body>
    <section class="blog">
        <h1>About Us</h1>
    <div class="About">
        <h3>Introduction:</h3>
        <p>Welcome to Dose Pharmacy, your trusted healthcare partner. We have been serving this community since 2023, providing personalized and efficient pharmaceutical services to meet your health and wellness needs.</p>
        <h3>Mission:</h3>
        <p>Our mission is to prioitize patient care and satisfaction, ensuring a seamless experience for everyone who walks through our doors. We are committed to delivering high-quality medications, expert advice, and exceptional service.</p>
        <h3>Values:</h3>
        <p>At Dose Pharmacy, we are guided by the following core values:</p>
            <ul>
                <li>Integrity: We adhere to the highest ethical standards and maintain transparency in all our interactions.</li>
                <li>Professionalism: Our team consists of experienced pharmacists and staff who prioritize continuous learning and development to stay up-to-date with industry advancements.</li>
                <li>Compassion: We empathize with our patients and strive to create a welcoming environment where everyone feels valued and cared for.</li>
                <li>Collaboration: We work closely with healthcare providers to ensure seamless coordination and the best possible outcomes for our patients.</li>
                <li>Innovation: We embrace new technologies and approaches to continuously improve the services we offer.</li>
            </ul>
    
        <br>
        <h3>Services:</h3>
        <p>Dose Pharmacy offers a wide range of pharmaceutical services, including:</p>
            <ul>
                <li>Prescription Medication Dispensing: We provide a vast selection of prescription medications, ensuring accuracy and safety in every order.</li>
                <li>Over-the-Counter (OTC) Products: Our shelves are stocked with a variety of OTC medications, health supplements, and personal care products to cater to your wellness needs.</li>
                <li>Medication Counseling: Our pharmacists are always available to discuss your medications, dosage instructions, potential side effects, and answer any questions you may have.</li>
                <li>Immunizations: Protect yourself and your family by staying up-to-date with vaccinations available at our pharmacy.</li>
                <li>Medication Synchronization: We offer a convenient medication synchronization program to help manage multiple prescriptions and reduce the risk of missed doses.</li>
                <li>Home Delivery: For your convenience, we provide home delivery services to ensure you never miss a refill.</li>
            </ul>
       
        <br>
        <h3>Our Team:</h3>
        <p>Our team of dedicated and experienced pharmacists and staff are the backbone of Dose Pharmacy, we work tirelessly to offer personalized care and support to every patient.</p>
        <h3>Contact Us:</h3>
        <p>We invite you to visit Dose Pharmacy and experience the difference a community pharmacy can make in your healthcare journey. If you have any questions or concerns, please feel free to contact us. Our team is here to help you every step of the way.</p>
        
    </div>
    </section>
    <%- include ("./partials/footer.ejs") %>
</body>

</html>