
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <!-- add icon link -->
    <link rel = "icon" href = "../IMAGES/logo.png" type = "image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%- include ("./adminheader.ejs") %>

</head>
<body>
  
  <%- include ("./adminsidebar.ejs") %>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-offset-3">
                <h1>Add a New Product</h1>
                <form method="post">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="category_name">Category Name: </label>
                                <input type="text" id="category_name" class="form-control" name="category_name">
                            </div>
                            <div class="form-group">
                              <label>add side effect:</label>
                              <input type="text" id="side_effect" class="form-control" name="side_effect">
                              </div>
                              <div class="form-group">
                                <label>Active Ingredient: :</label>
                                <input type="text" id="active_ingredient" class="form-control" name="active_ingredient">
                                </div>
                            <div class="form-group">
                                <label for="product_name">Product Name: </label>
                                <input type="text" id="product_name" class="form-control" name="product_name">
                            </div>
                            <div class="form-group">
                                <label for="product_price">Product Price: </label>
                                <input type="text" id="product_price" class="form-control" name="product_price">
                            </div>
                             <div class="form-group">
                                <label for="product_newprice">Product new Price: </label>
                                <input type="text" id="product_newprice" class="form-control" name="product_newprice">
                            </div>
                            <div class="form-group">
                            <label>add image:</label>
                            <input type="file" id="myFile" class="form-control" name="addproductimage">
                            </div>

                            


                            
                            <button type="submit" class="btn btn-success">Success</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>