<%- include ("./partials/header.ejs") %>
    <div class="Article">
        <h3>How Does a Person Freeze To Death?</h3>
        <br>
        <p>This week's
            polar vortex
            has brought bitter cold — even Arctic-like temperatures — to parts of the Upper Midwest and Eastern U.S., and this frigid air may have you feeling like you could "freeze to death."
            
            Indeed, when temperatures dip this low, frostbite and hypothermia are real health concerns. Weather officials have warned of dangerous and even life-threatening wind chills through Thursday (Jan. 31). [
            7 Crazy Things That Happen Only When It's Really Cold
            ]
            
            However, death from the cold can happen even if the body isn't literally frozen.
            
            Core temperature drop
            
            A person's core body temperature usually hovers around 98.6 degrees Fahrenheit (37 degrees Celsius).
            Hypothermia
            occurs when core body temperature dips to around 95 F (35 C) or lower. Surprisingly, people can experience hypothermia in relatively cool, but not freezing, air temperatures — around 30 to 50 F (minus 1 to 10 C) — particularly if they are wet, such as from rain, sweat or submersion in cold water, according to the
            National Weather Service
            . The body loses heat about 25 times faster in water than in air, Michael Sawka, chief of the Thermal & Mountain Medicine Division at the U.S. Army Research Institute of Environmental Medicine (USARIEM), told Live Science in a 2010 interview.
            
            But hypothermia at these relatively cool temperatures is unusual.
            
            Temperatures that are subzero, however, are "a whole different animal," said Dr. Robert Glatter, an emergency physician at Lenox Hill Hospital in New York City.
            
            At minus 30 F (minus 34 C), an otherwise healthy person who isn't properly dressed for the cold could experience hypothermia in as little as 10 minutes, Glatter said. At minus 40 to minus 50 F (minus 40 to minus 45 C), hypothermia can set in in just 5 to 7 minutes, he said.
            
            A drop in body temperature prevents critical organs from working properly — including the brain and heart, according to the
            Mayo Clinic
            .
            
            Improper functioning of the heart results in reduced blood flow to many organs, putting the body in a state of shock and increasing the risk of conditions like liver failure and
            kidney failure
            , Glatter told Live Science. The very young and the very old are at greater risk for hypothermia because they generally have weaker heart muscles, he said. In addition, older people are more likely to take medications such as beta blockers that can slow
            heart rate
            , which further increases their risk of developing hypothermia in the cold.
            
            Symptoms of mild hypothermia, such as shivering, weakness and confusion, set in when core body temperature reaches about 95 F. After that, "as you start dropping [in core body temperature], bad things happen," Sawka said.
            
            At 91 F (33 C), you can experience amnesia.
            At 82 F (28 C) you can lose consciousness.
            Below 70 F (21 C), you are said to have profound hypothermia and death can occur, Sawka said.
            The record for the lowest body temperature at which an adult has been known to survive is 56.7 F (13.7 C), which occurred after the person was submerged in cold, icy water for quite some time, according to John Castellani, of the USARIEM, who also spoke with Live Science in 2010.
            
            Left untreated, hypothermia can lead to complete failure of the heart, and eventually death, according to the Mayo Clinic.
            
            Built-in cold protection
            
            Yet people's bodies are pretty hardy in the cold, as we have two built-in mechanisms to protect us from frigid conditions.
            
            As soon as that bitter air hits your face, your body will try to insulate itself by moving blood away from the skin and outer extremities, such as fingers and toes, and toward its core. This process is called vasoconstriction, and it helps limit the amount of heat you lose to the environment, Castellani said.
            
            The second response from your body is
            shivering
            , which produces heat and helps raise body temperature.
            
            Frostbite danger
            
            Although extreme conditions are often needed to induce hypothermia in a healthy person,
            frostbite
            is more common in less severe weather. "It takes a lot to drop the core body temperature down, but it doesn't take as much to drive the peripheral temperatures down," Castellani said.
            
            Your fingers and toes are more prone to frostbite, because those areas will have reduced blood flow in cold temperatures, as your body tries to keep its core warm. Even though your feet are usually protected by shoes, toe temperatures can get very low, and if you sweat, the wetness will draw even more heat out of the area. Since frostbite is brought on by freezing, you can't get frostbite if the air temperature is above 32 F (0 C).
            
            How long it takes you to develop frostbite will depend on the conditions. For example, if it's 0 F (minus 18 C) with a wind chill of minus 19 F (minus 28 C), you could be frostbitten in 30 minutes; but if it's minus 15 F (minus 26 C) with a wind chill of minus 55 (minus 48 C), you could get frostbite in as few as 5 minutes, according to the National Weather Service. Despite these risks, "human beings can go out in very
            extreme cold
            environments and do very well," Castellani said. People climb mountains, trek in the Arctic and swim the English Channel, which has very low water temperatures.
            
            Still, you need to be properly dressed to weather the cold conditions. Glatter recommended that people wear at least three layers — a wicking layer that wicks moisture away from the skin, an insulating layer and a protective outer layer to protect against the wind and other elements. In addition, Glatter recommended that people wear thick, insulated boots, since the feet and toes are at high risker risk for frostbite.
            
            The
            CDC also recommends
            that people wear a hat, scarf or face mask that covers the face and mouth, a water-resistant coat, mittens or gloves, and water-resistant boots.
            
            Editor's note: A version of this article was published on Jan. 7, 2010. It was updated with new information and an interview with Dr. Glatter on Jan. 30, 2019.
            
            Photos: The 8 Coldest Places on Earth
            9 Tips for Exercising in Winter Weather
            10 Surprising Ways Weather Has Changed History
            </p>
        
    </div>
    <%- include ("./partials/footer.ejs") %>

   
</body>

</html>