<%- include ("./partials/header.ejs") %>

    <section class="blog">
        <h1>Blog</h1>
    <div class="Articles-container">
        <div class="article">
            <a href="./articles" ><img src="../IMAGES/blog freeze.jpg" alt=""></a>
                <p>5 MAY 2023</p>
                <a href="articles.ejs" title="How Does a Person Freeze To Death?" class="a1">How Does a Person Freeze To Death?</a>
                <br>
                <button class="btns">READ MORE</button>
        </div>
        <div class="article">
            <a href="./articles" ><img src="../IMAGES/climate change.jpg" alt=""></a>
                <p>5 MAY 2023</p>
                <a href="./articles" title="Climate Change May Hurt Babies' Hearts" class="a1">Climate Change May Hurt Babies' Hearts</a>
                <br>
                <button class="btns">READ MORE</button>
        </div>
        <div class="article">
            <a href="./articles" ><img src="../IMAGES/depression.jpg" alt=""></a>
                <p>5 MAY 2023</p>
                <a href="./articles" title="Depression May Increase Stroke Risk" class="a1">Depression May Increase Stroke Risk</a>
                <br>
                <button class="btns">READ MORE</button>
        </div>
    </div>
    </section>
    <%- include ("./partials/footer.ejs") %>
</body>

</html>