<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../CSS/webpr.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    
    <header id="navbar">
        <div class="logo">
            <a href="#"><a href="/index"><img src="../IMAGES/logo.png"></a></a>
        </div>
        <nav >
            <ul>
                <li class="lnks"><a href="#">Shop</a></li>
                <li><a href="#">Order a Prescription</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="#"><input type="text" placeholder="Search Products"></a></li>

                <li class="split"><a href="#"><i class="fa fa-fw fa-cart-plus"></i>Cart</a></li>
                <li class="split"><a href="/loginform"><i class="fa fa-fw fa-user"></i>Login/Signup</a></li>
                        </div>
                    </a></li>
            </ul>
        </nav>
    </header>


    <section class="blog">
        <h1>Blog</h1>
    <div class="Articles-container">
        <div class="article">
            <a href="/articles" ><img src="../IMAGES/blog freeze.jpg" alt=""></a>
                <p>5 MAY 2023</p>
                <a href="articles.ejs" title="How Does a Person Freeze To Death?" class="a1">How Does a Person Freeze To Death?</a>
                <br>
                <button class="btns">READ MORE</button>
        </div>
        <div class="article">
            <a href="/articles" ><img src="../IMAGES/climate change.jpg" alt=""></a>
                <p>5 MAY 2023</p>
                <a href="/articles" title="Climate Change May Hurt Babies' Hearts" class="a1">Climate Change May Hurt Babies' Hearts</a>
                <br>
                <button class="btns">READ MORE</button>
        </div>
        <div class="article">
            <a href="/articles" ><img src="../IMAGES/depression.jpg" alt=""></a>
                <p>5 MAY 2023</p>
                <a href="/articles" title="Depression May Increase Stroke Risk" class="a1">Depression May Increase Stroke Risk</a>
                <br>
                <button class="btns">READ MORE</button>
        </div>
    </div>
    </section>

    <footer id="ft">
        <div class="container__footer">
            <div class="box__footer">
                <div class="logo2">
                    <img src="../IMAGES/logo.png" alt="">
                </div>
            </div>
            <div class="box__footer">
                <h2>Contacts</h2>
                <a href="https://www.google.com">Dose@gmail.com</a>
                <a href="#">Hotline | 1234</a>
                <a href="#">Phone:- +201057324491</a>
                <a href="#">Branches</a>
            </div>
            <div class="box__footer">
                <h2>Orders</h2>
                <a href="#">Shipping & Delivery</a>
                <a href="#">Return & Exchange</a>
                <a href="#">Payment</a>
                <a href="#">Previous Orders</a>
            </div>
            <div class="box__footer">
                <h2>Find Us</h2>
                <a href="#"> <i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
                <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
                <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
            </div>
        </div>
        <div class="box__copyright">
            <hr>
            <p> © 2023 <b>Dose Pharmcy</b></p>
        </div>
    </footer>
</body>

</html>