<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dose Pharmacy</title>
    <!-- add icon link -->
    <link rel = "icon" href = "../IMAGES/logo.png" type = "image/x-icon">
    <link rel="stylesheet" href="../CSS/webpr.css">
    <link rel="stylesheet" href="../CSS/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    <body>    <header id="navbar">
        <div class="logo">
            <a href="./index"><a href="./index"><img src="../IMAGES/logo.png"></a></a>
        </div>
        <nav >
            <ul>
                <li class="lnks"><a href="#">Shop</a></li>
                <li><a href="#">Order a Prescription</a></li>
                <li><a href="./blog">Blog</a></li>
                <li><a href="./about">About Us</a></li>
                <li><a href="#"><input type="text" placeholder="Search Products"></a></li>

                <li class="split"><a href="./checkout"><i class="fa fa-fw fa-cart-plus"></i>Cart</a></li>
                <li class="split"><a href="./registr"><i class="fa fa-fw fa-user"></i>Login/Signup</a></li>
                        </div>
                    </a></li>
            </ul>
        </nav>
        
    </header>