<%- include ("./header.ejs") %>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../IMAGES/pic1.jpg" alt="First slide" >
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../IMAGES/np2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../IMAGES/np3.jpg" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <div class="container">
        <p class="sub-title">Browse Products By</p>
        <h4 class="title"> Our Categories</h4>
        <div class="gallery">
            <figure class=" gallery__item--1">
                <a href="./medications">
                    <button class="btnr">
                        <img src="../IMAGES/medicationsedited.jpg" class="gallery__img">
                        <div class="overlay">
                            <div class="text">
                                Medications</div>
                        </div>
                    </button>
                </a>
            </figure>
            <figure class=" gallery__item--2">
                <a href="./vit">
                    <button class="btnr">
                        <img src="../IMAGES/vitaminsedited.jpg" class="gallery__img">
                        <div class="overlay">
                            <div class="text">Vitamins</div>
                        </div>
                    </button>
                </a>
            </figure>
            <figure class="gallery__item--3">
                <a href="./personalcare">
                    <button class="btnr">
                        <img src="../IMAGES/Bodypersonalcareedited.jpg" class="gallery__img">
                        <div class="overlay">
                            <div class="text">Personal Care</div>
                        </div>
                    </button>
                </a>
            </figure>
            <figure class=" gallery__item--4">
                <a href="./makeup">
                    <button class="btnr">
                        <img src="../IMAGES/makeupedited.jpg" class="gallery__img">
                        <div class="overlay">
                            <div class="text">Beauty Products</div>
                        </div>
                    </button>
                </a>
            </figure>
            <figure class=" gallery__item--5">
                <a href="./skincare">
                    <button class="btnr">
                        <img src="../IMAGES/skincareedited.jpg" class="gallery__img">
                        <div class="overlay">
                            <div class="text">Skin Care</div>
                        </div>
                    </button>
                </a>
            </figure>
            <figure class=" gallery__item--6">
                <a href="./cleaning">
                    <button class="btnr">
                        <img src="../IMAGES/cleaningproductsedited.jpg" class="gallery__img">
                        <div class="overlay">
                            <div class="text">Cleaning products</div>
                        </div>
                    </button>
                </a>
            </figure>
            <figure class=" gallery__item--7">
                <a href="./motherbaby">
                    <button class="btnr">
                        <img src="../IMAGES/motherbabycareedited.jpg" class="gallery__img">
                        <div class="overlay">
                            <div class="text">Mother/Baby Care</div>
                        </div>
                    </button>
                </a>
            </figure>
            <figure class=" gallery__item--8">
                <a href="./medical">
                    <button class="btnr">
                        <img src="../IMAGES/medicalsuppliesedited.jpg" class="gallery__img">
                        <div class="overlay">
                            <div class="text">Medical Suplments</div>
                        </div>
                    </button>
                </a>
            </figure>
            <figure class=" gallery__item--9">
                <a href="./hair">
                    <button class="btnr">
                        <img src="../IMAGES/haircareedited.jpg" class="gallery__img">
                        <div class="overlay">
                            <div class="text">Hair Care</div>
                        </div>
                    </button>
                </a>
            </figure>
            <figure class=" gallery__item--10">
                <a href="./perfume">
                    <button class="btnr">
                        <img src="../IMAGES/perfumesedited.jpg" class="gallery__img">
                        <div class="overlay">
                            <div class="text">Perfumes</div>
                        </div>
                    </button>
                </a>
            </figure>
        </div>
    </div>


    <section class="latest-offers">
        <p>DON'T MISS OUR</p>
        <h1>Latest Offers</h1>
        <div class="products">
            <div class="product-container">
                <a href="#" ><img src="../IMAGES/VSset.jpg" alt="Victoria's Secret"></a>
                <div class="product">
                    <span>Victoria's Secret</span>
                    <a href="#" title="Victoria's Secret Fragrance Mist and Lotion" class="item">Fragrance Mist and Lotion</a >
                    <h5 class="price">935.00 EGP</h5>
                    <del>1050.00 EGP</del>
                    <hr>
                    <button class="btnm">Add To Cart</button>
                </div>
            </div>
            <div class="product-container">
                <a href="#" ><img src="../IMAGES/garnier.jpg" alt="Garnier"></a>
                <div class="product">
                    <span>Garnier</span>
                    <a href="#" title="Garnier Micellar Cleansing Water" class="item">Micellar Cleansing Water</a >
                    <h5 class="price">165.00 EGP</h5>
                    <del>195.00 EGP</del>
                    <hr>
                    <button class="btnm">Add To Cart</button>
                </div>
            </div>
            <div class="product-container">
                <a href="#" ><img src="../IMAGES/vaseline.jpeg" alt="Vaseline"></a>
                <div class="product">
                    <span>Vaseline</span>
                    <a href="#" title="Vaseline Perfect Lip Moisturizing Package" class="item">Perfect Lip Moisturizing Package -Pack of 3</a >
                    <h5 class="price">145.00 EGP</h5>
                    <del>195.00 EGP</del>
                    <hr>
                    <button class="btnm">Add To Cart</button>
                </div>
            </div>
            <div class="product-container">
                <a href="#" ><img src="../IMAGES/la-roche-posay-sunscreen.jpg" alt="La Roche Posay"></a>
                <div class="product">
                    <span>La Roche Posay</span>
                    <a href="#" title="La Roche Posay sunscreen" class="item">Sunscreen For Oily Skin</a >
                    <h5 class="price">425.00 EGP</h5>
                    <del>540.00 EGP</del>
                    <hr>
                    <button class="btnm">Add To Cart</button>
                </div>
            </div>
            <div class="product-container">
                <a href="#" ><img src="../IMAGES/doveset.jpg" alt="Dove"></a>
                <div class="product">
                    <span>Dove</span>
                    <a href="#" title="Dove Shampoo and Conditioner" class="item">Shampoo and Conditioner</a >
                    <h5 class="price">120.00 EGP</h5>
                    <del>145.00 EGP</del>
                    <hr>
                    <button class="btnm">Add To Cart</button>
                </div>
            </div>
        </div>
    </section>

<br>
<br>
    <section class="main">
        <p>BEST SELLERS</p>
        <h1>Featured Products</h1>
        <div class="main-container">
            <div class="m-container">
                <a href="./productDetails" ><img src="../IMAGES/panadol.jpg" alt=""></a>
                <div class="item">
                    <span>GSK</span>
                    <a href="./productDetails" title="Panadol 500 mg 24 Tablets" class="s1">Panadol 500 mg 24 Tablets</a >
                    <h5 class="price">34.00 EGP</h5>
                    <hr>
                    <button class="btns">Add To Cart</button>
                </div>
            </div>
            <div class="m-container">
                <a href="#" ><img src="../IMAGES/omega3.jpg" alt=""></a>
                <div class="item">
                    <span>Spring Valley</span>
                    <a href="#" title="Spring Valley Omega-3 1000 mg 180 tablets" class="s1">Omega-3 1000 mg 180 tablets</a >
                    <h5 class="price">400.00 EGP</h5>
                    <hr>
                    <button class="btns">Add To Cart</button>
                </div>
            </div>
            <div class="m-container">
                <a href="#" ><img src="../IMAGES/strepsils.jpg" alt=""></a>
                <div class="item">
                    <span>RECKITT BENCKISER HEALTHCARE</span>
                    <a href="#" title="Strepsils Honey & lemon 24 Lozenges" class="s1">Strepsils Honey & lemon 24 Lozenges</a >
                    <h5 class="price">115.00 EGP</h5>
                    <hr>
                    <button class="btns">Add To Cart</button>
                </div>
            </div>
            <div class="m-container">
                <a href="#" ><img src="../IMAGES/Genuphil.jpg" alt=""></a>
                <div class="item">
                    <span>Eva Pharma</span>
                    <a href="#" title="Genuphil original 50 tablets" class="s1">Genuphil original 50 tablets</a >
                    <h5 class="price">150.00 EGP</h5>
                    <hr>
                    <button class="btns">Add To Cart</button>
                </div>
            </div>
            <div class="m-container">
                <a href="#" ><img src="../IMAGES/Cataflam.jpg" alt=""></a>
                <div class="item">
                    <span>Novartis</span>
                    <a href="#" title="Cataflam 50 mg 20 tablets" class="s1">Cataflam 50 mg 20 tablets</a >
                    <h5 class="price">43.00 EGP</h5>
                    <hr>
                    <button class="btns">Add To Cart</button>
                </div>
            </div>
        </div>
    </section>

    <%- include ("./footer.ejs") %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>