<%- include ("./header.ejs") %>

    <div class="row">
        <div class="col-sm-3">
            <div class="left-sidebar">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container2">
            <div class="title">Medicines</div>
            
            <div class="product1">
                <div class="product-container1">
                    <div class="product-item">
                        <div class="product-img">
                            <img src="../IMAGES/panadol.jpg">
                            <div>
                                <button type="button" class="add-btnr">Add to Cart</button>
                            </div>
                        </div>
                        <div class="product-content">
                            <a href="./productDetails" title="Panadol 500 mg 24 Tablets" class="product-title">Panadol 500 mg 24 Tablets </a>
                            <div>
                                <span class="price">34.00 EGP</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-img">
                            <img src="../IMAGES/Brufen.jpg">
                            <div>
                                <button type="button" class="add-btnr">Add to Cart</button>
                            </div>
                        </div>
                        <div class="product-content">
                            <a href="./productDetails" title="Brufen 400 mg 30 Tablet" class="product-title">Brufen 400 mg 30 Tablet </a>
                            <div>
                                <span class="price">38.00 EGP</span>
                            </div>
                        </div>
                    </div>

                    <div class="product-item">
                        <div class="product-img">
                            <img src="../IMAGES/Genuphil.jpg">
                            <div>
                                <button type="button" class="add-btnr">Add to Cart</button>
                            </div>
                        </div>
                        <div class="product-content">
                            <a href="./productDetails" title="Genuphil original 50 tablets" class="product-title">Genuphil original 50 tablets</a>
                            <div>
                                <span class="price">150.00 EGP</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-img">
                            <img src="../IMAGES/voltaren.jpeg">
                            <div>
                                <button type="button" class="add-btnr">Add to Cart</button>
                            </div>
                        </div>
                        <div class="product-content">
                            <a href="./productDetails" title="Voltaren 1% Emulgel 100 gm" class="product-title">Voltaren 1% Emulgel 100 gm</a>
                            <div>
                                <span class="price">45.00 EGP</span>
                            </div>
                        </div>
                    </div>

                    <div class="product-item">
                        <div class="product-img">
                            <img src="../IMAGES/milga.jpg">
                            <div>
                                <button type="button" class="add-btnr">Add to Cart</button>
                            </div>
                        </div>
                        <div class="product-content">
                            <a href="./productDetails" title="Milga Advance 30 tablets" class="product-title">Milga Advance 30 tablets</a>
                            <div>
                                <span class="price">75.00 EGP</span>
                            </div>
                        </div>
                    </div>

                    <div class="product-item">
                        <div class="product-img">
                            <img src="../IMAGES/strepsils.jpg">
                            <div>
                                <button type="button" class="add-btnr">Add to Cart</button>
                            </div>
                        </div>
                        <div class="product-content">
                            <a href="./productDetails" title="Strepsils Honey & lemon 24 Lozenges" class="product-title">Strepsils Honey & lemon 24 Lozenges</a>
                            <div>
                                <span class="price">115.00 EGP</span>
                            </div>
                        </div>
                    </div>

                    <div class="product-item">
                        <div class="product-img">
                            <img src="../IMAGES/Telfast.jpg">
                            <div>
                                <button type="button" class="add-btnr">Add to Cart</button>
                            </div>
                        </div>
                        <div class="product-content">
                            <a href="./productDetails" title="Telfast 180mg 20 tablets" class="product-title">Telfast 180mg 20 tablets</a>
                            <div>
                                <span class="price">75.00 EGP</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-img">
                            <img src="../IMAGES/Cataflam.jpg">
                            <div>
                                <button type="button" class="add-btnr">Add to Cart</button>
                            </div>
                        </div>
                        <div class="product-content">
                            <a href="./productDetails" title="Cataflam 50 mg 20 tablets" class="product-title">Cataflam 50 mg 20 tablets</a>
                            <div>
                                <span class="price">43.00 EGP</span>
                            </div>
                        </div>
                    </div>

                    <div class="product-item">
                        <div class="product-img">
                            <img src="../IMAGES/terramycin.jpeg">
                            <div>
                                <button type="button" class="add-btnr">Add to Cart</button>
                            </div>
                        </div>
                        <div class="product-content">
                            <a href="./productDetails" title="Terramycin cream 5 gm" class="product-title">Terramycin cream 5 gm</a>
                            <div>
                                <span class="price">10.00 EGP</span>
                            </div>
                        </div>
                    </div>

                    <div class="product-item">
                        <div class="product-img">
                            <img src="../IMAGES/polyfresh1.jpg">
                            <div>
                                <button type="button" class="add-btnr">Add to Cart</button>
                            </div>
                        </div>
                        <div class="product-content">
                            <a href="./productDetails" title="Polyfresh 0.2% eye drops 10 ml" class="product-title">Polyfresh 0.2% eye drops 10 ml </a>
                            <div>
                                <span class="price">33.00 EGP</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <%- include ("./footer.ejs") %>
</body>

</html>
