<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../CSS/webpr.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    </head>
    <body>
        <header id="navbar">
            <div class="logo">
                <a href="#"><a href="file:///D:\me\Dose\HTML/index.html"><img src="../IMAGES/logo.png"></a></a>
            </div>
            <nav >
                <ul>
                    <li class="lnks"><a href="#">Shop</a></li>
                    <li><a href="#">Order a Prescription</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="#"><input type="text" placeholder="Search Products"></a></li>
    
                    <li class="split"><a href="#"><i class="fa fa-fw fa-cart-plus"></i>Cart</a></li>
                    <li class="split"><a href="loginform.html"><i class="fa fa-fw fa-user"></i>Login/Signup</a></li>
                   
                            </div>
                        </a></li>
                </ul>
            </nav>
        </header>
        <br>
        <div class="product1">
            <div class="product-image">
                <img src="../IMAGES/panadol.jpg" alt="Panadol">
            </div>
            <div class="product-details">
                <h2>Panadol 500 mg 24 Tablets</h2>
                <h3 class="price">34.00 EGP</h3>
                <hr>
                <br>
                <p class="title1">Active Ingredient:</p>
                <span>Paracetamol (Acetaminophen)</span>
                <br>
                <br>
                <p class="title1">Medical Description:</p>
                <p>Nonopioid analgesic used for the treatment of pain like mild muscle aches or headache.</p>
                <button class="btnm">Add To Cart</button>
            </div>
        </div>
    </body>
    <footer id="ft">
        <div class="container__footer">
            <div class="box__footer">
                <div class="logo2">
                    <img src="../IMAGES/logo.png" alt="">
                </div>
            </div>
            <div class="box__footer">
                <h2>Contacts</h2>
                <a href="https://www.google.com">Dose@gmail.com</a>
                <a href="#">Hotline | 1234</a>
                <a href="#">Phone:- +201057324491</a>
                <a href="#">Branches</a>
            </div>
            <div class="box__footer">
                <h2>Orders</h2>
                <a href="#">Shipping & Delivery</a>
                <a href="#">Return & Exchange</a>
                <a href="#">Payment</a>
                <a href="#">Previous Orders</a>
            </div>
            <div class="box__footer">
                <h2>Find Us</h2>
                <a href="#"> <i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
                <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
                <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
            </div>
        </div>
        <div class="box__copyright">
            <hr>
            <p> © 2023 <b>Dose Pharmcy</b></p>
        </div>
    </footer>
</html>