<%- include ("./header.ejs") %>
        <br>
        <div class="product1">
            <div class="product-image">
                <img src="../IMAGES/panadol.jpg" alt="Panadol">
            </div>
            <div class="product-details">
                <h2>Panadol 500 mg 24 Tablets</h2>
                <h3 class="price">34.00 EGP</h3>
                <hr>
                <br>
                <p class="title1">Active Ingredient:</p>
                <span>Paracetamol (Acetaminophen)</span>
                <br>
                <br>
                <p class="title1">Medical Description:</p>
                <p>Nonopioid analgesic used for the treatment of pain like mild muscle aches or headache.</p>
                <button class="btnm">Add To Cart</button>
            </div>
        </div>
    </body>
    <%- include ("./footer.ejs") %>
</html>