<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <meta name="viewport" content="width=device-wdith" ,initial-scale=1.0>
    <title>Sign up</title>
    <link rel="stylesheet" href="../css/webpr.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="jquery-3.6.4.min.js"></script>
    <!-- add icon link -->
    <link rel = "icon" href = "../IMAGES/logo.png" type = "image/x-icon">
    <script>
        function validate() {
            if (document.getElementById('result').innerHTML.includes('taken'))
                return false;
            else
                return true;
        }
    </script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
        
            </script>
            
    <link rel="stylesheet" href="../css/webpr.css">
</head>
<body>
    <div class="containerTlogin">
        <div class="form-boxT">
            <h1 id="titleT">Sign up</h1>
            <form action="/user/registr"  method="post">
                <div class="input-groupT">
                    <div class="input-fieldT" id="nameField" required>
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="Name" id="name" name="name" required>
                        <span id="result"></span>

                    </div>

                    <div class="input-fieldT">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" name="email" placeholder="Email" required>
                    </div>

                    <div class="input-fieldT">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="input-fieldT" required>
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="phone" placeholder="phone" required>
                    </div>
                </div>
                <div>
                    <p>Already have an account?<a href="/user/login">login</a> </p>
                </div>
                <br>
                <input type="hidden" name="type" value="client">
                <div class="btn-fieldT">
                    <!-- <button type="button" id="signinBtn" class="disable">Sign up</button> -->
                    <button type="submit" id="submitT">Sign up</button>
                </div>

            </form>
        </div>
    </div>
 
</body>

</html>