<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html {
            box-sizing: border-box;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        .column {
            float: left;
            width: 33.3%;
            margin-bottom: 16px;
            padding: 0 8px;
        }

        @media screen and (max-width: 650px) {
            .column {
                width: 100%;
                display: block;
            }
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .container {
            padding: 0 16px;
        }

        .container::after,
        .row::after {
            content: "";
            clear: both;
            display: table;
        }

        .title {
            color: grey;
        }

        .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
        }

        .button:hover {
            background-color: #555;
        }
    </style>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Boxicons -->
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <!-- My CSS -->
        <link rel="stylesheet" href="../css/admin.css">
        <!-- add icon link -->
        <link rel="icon" href="../IMAGES/logo.png" type="image/x-icon">

    </head>

<body>


    <!-- SIDEBAR -->
    <%- include ("./partials/adminsidebar.ejs") %>
        <!-- SIDEBAR -->



        <!-- CONTENT -->
        <!-- <%- include ("./partials/adminheader.ejs") %>
            <h2>Team</h2>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <div class="container">
                            <% if ( user.type==='admin' ) { %>
                                <% users.forEach(user=> { %>
                                    <p class="title">Admin</p>
                                    <h2>
                                        <%user.name%>
                                    </h2>
                                    <p><button class="button">Contact us</button></p>
                                    <p></p>
                                    <p>
                                        <%user.email%>
                                    </p>
                                    <p>
                                        <%user.phone%>
                                    </p>


                        </div>
                    </div>
                </div>
                <% }) %>
                    <% } %> -->


            </div>

</body>

</html>